body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.container{
    width: 75%;
    margin: auto;
    overflow: hidden;
    background-color: rgb(42, 42, 87);
    
    
}

header{
    display: flex;
    grid-auto-flow: column;
    justify-content: center;
    gap: 1em;
    margin-bottom: 20px;
}

.fst_img{
    
    padding-top: 15px;
}



.head h1{
    color: rgb(223, 75, 75);
    font-size: 40px;
    font-weight: 600px;
    

}

.head h1 span{
    color: white;
    font-size: 10px;
    letter-spacing: 5px;
}

.head1{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.yel{
    background-color: rgb(255, 197, 8);
    width: 410px;
    text-align: center;
}
.blu{
    background-color: rgb(8, 78, 255);
    width: 410px;
    text-align: center;
}

.head2{
    display: flex;
    justify-content: space-evenly;
}

.head4{
    display: flex;
    justify-content: center;
}

.head3{
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    background-color:rgb(223, 75, 75) ;  
    width: 800px;
    padding: 10px;
}


.ob1
{
    display: flex;
    grid-auto-flow: column;
}

.obs2{
    display: flex;
    grid-auto-flow: column;
    gap: 1em;
}

.obs4{
    font-size: 30px;
    font-weight: 600;
}

.risk{
    display: grid;
    width: 800px;
    justify-content: center;
    background-color:rgb(8, 78, 255) ;
    padding: 10px;
    margin-top: 30px;
}

.risk1{
    display: flex;
    grid-auto-flow: column;
}

.risk3{
    display: flex;
    justify-content: center;
}


.tele{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
    padding-top: 10px;
}
.tele1{
    width: 570px;
    text-align: center;
    background-color: orange;
    height: 300px;

}

.tele1 h1{
    font-size: 50px;
    font-weight: 600px;
}

.tele1 p{
    font-size: 20px;
}

.tele2{
    width: 230px;
    text-align: center;
    background-color: orange;
    height: 300px;
   
    
}

.cyc{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
    padding-top: 10px;
}
.cyc1{
    width: 570px;
    text-align: center;
    background-color: rgb(82, 82, 193);
    height: 300px;

}

.cyc1 h1{
    font-size: 50px;
    font-weight: 600px;
}

.cyc1 p{
    font-size: 20px;
}

.cyc2{
    width: 230px;
    text-align: center;
    background-color: rgb(82, 82, 193);
    height: 300px;
   
    
}
.one{
    background-color: rgb(223, 75, 75) ;
    width: 410px;
    text-align: center;
}

.two{
    background-color: orange;
    width: 410px;
    text-align: center;
}